
div.main {
    margin:0 auto;
    background-color: #afafaf;
    text-align: center;
}

div.navigation {
    margin:0 auto;
    background-color: #ffccff;
    text-align: center;
    width: 500px;
}

#back {
    margin:0 auto;
    /*height: 52px;*/
    width: 640px;
    text-align: center;
}

div.number {

    margin:0 auto;
    height: 30px;
    width: 40px;
    background-color: #30f79f;
    text-align: center;
}
